{% extends 'base.html.twig' %}

{% block title %}
	Edit Medicamento
{% endblock %}

{% block body %}
	<h1>
		Edit Medicamento
	</h1>

	{{ include('medicamentos/_form.html.twig', { button_icon: 'fa-check' }) }}

	{{ include('medicamentos/_delete_form.html.twig') }}
{% endblock %}
