<header class="flex items-center justify-center h-16 space-x-4 bg-dark">
	<img src="{{ asset('assets/images/logo.png') }}" alt="MedControl Logo" class="h-10" />
	<h1 class="text-3xl font-medium">
		Med<span class="font-black">Control</span>
	</h1>
</header>
