{% extends 'base.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}

{% block body %}
	<div>
		{% if app.user %}
			<p>
				Username: {{ app.user.username }}
			</p>
		{% else %}
			<p>
				Usuário não está logado
			</p>
		{% endif %}
	</div>
{% endblock %}
